<form class="search-form" fxLayoutAlign="center center">
  <mat-form-field class="search-full-width">
    <input
    type="search"
    matInput
    placeholder="Search activities and events near you...">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>

<section calss='new-activity' fxLayout='column' fxLayoutAlign='center' fxLayoutGap="20px">
  <mat-card fxFlex.xs="100%" fxFlex="150px">
      <mat-card-title>Football Match</mat-card-title>
      <mat-card-content>A football match at Kafelshiekh's stadium.</mat-card-content>
      <mat-card-actions fxLayoutAlign='end'>
          <button type="submit" mat-raised-button color='primary'>Going</button>
      </mat-card-actions>
    </mat-card>

    <mat-card fxFlex.xs="100%" fxFlex="150px">
        <mat-card-title>Football Match</mat-card-title>
        <mat-card-content>A football match at Kafelshiekh's stadium.</mat-card-content>
        <mat-card-actions fxLayoutAlign='end'>
            <button type="submit" mat-raised-button color='primary'>Going</button>
        </mat-card-actions>
      </mat-card>
      <mat-card fxFlex.xs="100%" fxFlex="150px">
          <mat-card-title>Football Match</mat-card-title>
          <mat-card-content>A football match at Kafelshiekh's stadium.</mat-card-content>
          <mat-card-actions fxLayoutAlign='end'>
              <button type="submit" mat-raised-button color='primary'>Going</button>
          </mat-card-actions>
        </mat-card>

        <mat-card fxFlex.xs="100%" fxFlex="150px">
            <mat-card-title>Football Match</mat-card-title>
            <mat-card-content>A football match at Kafelshiekh's stadium.</mat-card-content>
            <mat-card-actions fxLayoutAlign='end'>
                <button type="submit" mat-raised-button color='primary'>Going</button>
            </mat-card-actions>
          </mat-card>
          <mat-card fxFlex.xs="100%" fxFlex="150px">
              <mat-card-title>Football Match</mat-card-title>
              <mat-card-content>A football match at Kafelshiekh's stadium.</mat-card-content>
              <mat-card-actions fxLayoutAlign='end'>
                  <button type="submit" mat-raised-button color='primary'>Going</button>
              </mat-card-actions>
            </mat-card>

            <mat-card fxFlex.xs="100%" fxFlex="150px">
                <mat-card-title>Football Match</mat-card-title>
                <mat-card-content>A football match at Kafelshiekh's stadium.</mat-card-content>
                <mat-card-actions fxLayoutAlign='end'>
                  <button type="submit" mat-raised-button color='primary'>Going</button>
                </mat-card-actions>
              </mat-card>

</section>

