<div class="welcome" fxLayout='column' fxLayoutGap='10px'>
  <section fxLayoutAlign='center center'>
    <h1>Welcome to your new community!</h1>
  </section>
  <section fxLayoutAlign='flex-start'>
    <h4>We will help you to connect with the real world, make new friends, and <b>Do your Activities!</b></h4>
  </section>
  <section fxLayoutAlign='flex-start'>
    <form class="search-form">
      <mat-form-field class="search-full-width">
          <input
          type="search"
          matInput
          placeholder="Search activities and events near you...">
          <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </section>
</div>
